body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

header{
    background: #f8f8f8;
    padding: 2em 0;
    /*text-align: center;*/
}

.container{
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    border: solid red 1px;
}

.container-nav{
    display: flex;
    justify-content: space-between;
}


/* =========
    TITLE
    ======== */

h1{
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 3.75rem;
    color: #143774;
    margin: 0;
}
.subtitle{
    font-weight: bold;
    font-size: .75rem;
    margin: 0;
    color: #1792D2;
}
/* =========
    NAV - MENU
    ======== */
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 2.25em auto;
}

nav li{
    /*margin: 0 1em;*/
    margin-left: 2em;
}

nav a{
    text-decoration: none;
    padding: .25em 0;
    font-weight: bold;
    color: #707070;
}
nav a:hover, 
nav a:focus{
    color: #1792D2;
}
/*
.current-page{
    border-bottom: 1px solid #707070;
}

.current-page:hover{
    color: #707070;
}*/

@media (max-width: 980px){
    .container-nav{
        flex-direction: column;
        align-items: center;
    }
    nav ul{
        flex-direction: column;
    }
    nav li{
        margin: .5em 0;
    }

    header{
        text-align: center;
    }
}